{% if 'jinja2.ext.i18n' not in JINJA_ENVIRONMENT.extensions %}
  {%- macro _(msg) -%}
    {{ msg % kwargs }}
  {%- endmacro -%}
{% endif %}
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link type="text/plain" rel="author" href="{{ SITEURL}}/humans.txt">
  <link rel="indieweb" href="/.well-known/indieweb.txt">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page in hidden_pages %}
  <meta name="robots" content="noindex, nofollow">
  {% else %}
  <meta name="robots" content="{{ ROBOTS }}">
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/style.min.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/webmention.css">
  {# DARK THEME STYLES #}
  {% if THEME_COLOR == "dark" or THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE or THEME_COLOR_ENABLE_USER_OVERRIDE %}
  <link id="dark-theme-style" rel="stylesheet" type="text/css"
    {% if THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE %}
      {% if THEME_COLOR|default("light") == "dark" %}
    media="(prefers-color-scheme: dark), (prefers-color-scheme: no-preference)"
      {% else %}
    media="(prefers-color-scheme: dark)"
      {% endif %}
    {% elif THEME_COLOR_ENABLE_USER_OVERRIDE and THEME_COLOR|default("light") == "light" %}
    disabled="disabled"
   {% endif %}
    href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/dark-theme.min.css">
  {% endif %}
  {# PYGMENTS STYLES #}
  {% if THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE or THEME_COLOR_ENABLE_USER_OVERRIDE or THEME_COLOR == "dark" %}
  <link id="pygments-dark-theme" rel="stylesheet" type="text/css"
    {% if THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE %}
      {% if THEME_COLOR|default("light") == "dark" %}
    media="(prefers-color-scheme: dark), (prefers-color-scheme: no-preference)"
      {% else %}
    media="(prefers-color-scheme: dark)"
    {% endif %}
  {% elif THEME_COLOR_ENABLE_USER_OVERRIDE and THEME_COLOR|default("light") == "light" %}
    disabled="disabled"
  {% endif %}
     href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/pygments/{{ PYGMENTS_STYLE_DARK or PYGMENTS_STYLE or 'monokai' }}.min.css">
  {% endif %}
  {% if THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE or not THEME_COLOR or THEME_COLOR == "light" %}
  <link id="pygments-light-theme" rel="stylesheet" type="text/css"
    {% if THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE %}
      {% if THEME_COLOR|default("light") == "dark" %}
    media="(prefers-color-scheme: dark)"
      {% else %}
    media="(prefers-color-scheme: light)"
    {% endif %}
  {% endif %}
    href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/pygments/{{ PYGMENTS_STYLE|default('github') }}.min.css">
  {% endif %}
  {% if 'pelican.plugins.search' in PLUGINS %}
  <link rel="stylesheet"
        type="text/css"
        href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stork/stork.css">
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/fontawesome.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/brands.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/solid.css">
  {% if CUSTOM_CSS %}
  <link rel="stylesheet" type="text/css" href="{% if main_siteurl is defined %}{{ main_site }}{% else %}{{ SITEURL }}{% endif %}/{{ CUSTOM_CSS }}">
  {% endif %}
  {% include "partial/icon.html" %}
  {% include "partial/color.html" %}
  {% include "partial/feed.html" %}
  {% if PGP_KEY %}
  <link rel="pgpkey" type="application/pgp-keys" href="{{ SITEURL }}/{{ PGP_KEY }}">
  {% endif %}
  {% if WEBMENTION_URL %}
  <link rel="webmention" href="{{ WEBMENTION_URL }}">
  {% endif %}
  {% if PINGBACK_URL %}
  <link rel="pingback" href="{{ PINGBACK_URL }}">
  {% endif %}
  {% if not PLUGINS or 'seo' not in PLUGINS %}
    {% if REL_CANONICAL %}
      {% if page %}
  <link rel="canonical" href="{{ SITEURL }}/{{ page.url }}">
      {% elif article %}
  <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
      {% elif page_name == 'index' and not articles_previous_page %}
  <link rel="canonical" href="{{ SITEURL }}">
      {% elif author or category or tag or page_name == 'index' %}
  <link rel="canonical" href="{{ SITEURL }}/{{ articles_page.url }}">
      {% else %}
  <link rel="canonical" href="{{ SITEURL }}/{{ output_file }}">
      {% endif %}
    {% endif %}
  {% endif %} 
  {% block meta %}
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="description" content="{{ SITEDESCRIPTION }}">
  {% include "partial/og.html" %}
  {% endblock %}
  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>
</head>
<body {% if not THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE %}class="{{ THEME_COLOR|default('light') }}-theme"{% endif %}>
  {% include "partial/sidebar.html" %}
<main>
  {% include "partial/nav.html" %}
  {% block content %}
  {% endblock %}
  {% include "partial/footer.html" %}
</main>
  {% include "partial/jsonld.html" %}
  {% include 'partial/github.html' %}
  {% include 'partial/stork.html' %}
  {% block additional_js %}{% endblock %}
</body>
</html>
