{% if not PLUGINS or 'seo' not in PLUGINS or 'pelican.plugins.seo' not in PLUGINS %}
  {% if OG_LOCALE %}
    {% set default_locale = OG_LOCALE %}
  {% else %}
    {% set default_locale = 'en_US' %}
  {% endif %}
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:type" content="blog" />
  <meta property="og:title" content="{{ SITENAME }}" />
  <meta name="twitter:title" content="{{ SITENAME }}" />
  <meta property="og:description" content="{{ SITEDESCRIPTION }}" />
  <meta name="twitter:description" content="{{ SITEDESCRIPTION }}" />
  <meta property="og:locale" content="{{ default_locale }}" />
  <meta  property="og:url" content="{{ SITEURL }}" />
  {% if SITELOGO %}
  <meta name="twitter:card" content="summary_large_image">
  <meta  property="og:image" content="{{ SITELOGO }}" />
  <meta property="og:image:secure_url" content="{{ SITEURL }}" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta name="twitter:image" content="{{ SITELOGO }}" />
  {% endif %}
{% endif %}
