<aside>
  <div class="h-card">
    <a class="u-url" href="{{ SITEURL }}/">
      {% if SITELOGO %}
      <img class="u-photo" src="{{ SITELOGO }}" alt="{{ COPYRIGHT_NAME }}">
      {% else %}
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/profile.png" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
      {% endif %}
      <h1>
        {{ SITETITLE }}
      </h1>
    </a>

    <p>
    {% if SITESUBTITLE %}
      <br>
      <span class="p-note">{{ SITESUBTITLE }}</span><br>
      <br>
    {% endif %}
    {% if COPYRIGHT_NAME %}
      <span class="p-name">{{ COPYRIGHT_NAME }}</span><br>
    {% endif %}
    {% if AUTHOR_LOCATION %}
      <span class="p-region">{{ AUTHOR_LOCATION }}</span><br>
    {% endif %}
    {% if AUTHOR_COUNTRY %}
      <span class="p-country-name">{{ AUTHOR_COUNTRY }}</span><br>
    {% endif %}
    {% if AUTHOR_EMAIL %}
      <span><a class="u-email" href="mailto:{{ AUTHOR_EMAIL }}">{{ AUTHOR_EMAIL }}</a></span><br>
    {% endif %}
    </p>
    {% if PLUGINS %}
    {% if 'pelican.plugins.search' in PLUGINS %}
    <div class="stork">
      <label for="search">Site search:</label>
      <input id="search" class="stork-input" type="text" title="Site search" autocomplete="off" name="q" data-stork="sitesearch" placeholder="{{ _('Search...') }}" onclick="loadStorkIndex()">
      <div class="stork-output" data-stork="sitesearch-output"></div>
    </div>
    {% endif %}
    {% endif %}
    {% if (pages and DISPLAY_PAGES_ON_MENU) %}
    <nav>
      <ul class="list">
        {# Open links in new window depending on the LINKS_IN_NEW_TAB setting #}
        {% macro get_target(link) -%}
          {%- if LINKS_IN_NEW_TAB in ('all', true) -%}
          _blank
          {%- elif LINKS_IN_NEW_TAB == "external" and not link.startswith("/") and not link.startswith(SITEURL) -%}
          _blank
          {%- else -%}
          _self
          {%- endif -%}
        {%- endmacro %}
        {% if PAGES_SORT_ATTRIBUTE -%}
          {% set pages = pages|sort(attribute=PAGES_SORT_ATTRIBUTE) %}
        {%- endif %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in pages %}
        <li>
          <a target="{{ get_target(SITEURL) }}"
            href="{{ SITEURL }}/{{ page.url }}{% if not DISABLE_URL_HASH %}#{{ page.slug }}{% endif %}">
            {{ page.title }}
          </a>
        </li>
          {% endfor %}
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    <br>
    {% if SOCIAL %}
    {% set solid = ['at', 'envelope', 'mailbox', 'rss'] %}
    {% set relme = ['at', 'envelope', 'github', 'mailbox', 'mastodon'] %}
    <ul class="social">
      {% for name, link in SOCIAL %}
      <li>
        <a class="sc-{{ name }}"
           {% if name in relme %}
           rel="me"
           {% endif %}
           href="{{ link }}"
           target="_blank">
            <div class="sr-only">{{ name }}</div>
            <i class="{% if name in solid %}fa-solid{% else %}fa-brands{% endif %} fa-{{ name }}" title="{{ name }}" aria-hidden="true"></i>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <br>
    {% if LINKS %}
    <nav>
      <ul class="list">
        {# Open links in new window depending on the LINKS_IN_NEW_TAB setting #}
        {% macro get_target(link) -%}
          {%- if LINKS_IN_NEW_TAB in ('all', true) -%}
          _blank
          {%- elif LINKS_IN_NEW_TAB == "external" and not link.startswith("/") and not link.startswith(SITEURL) -%}
          _blank
          {%- else -%}
          _self
          {%- endif -%}
        {%- endmacro %}
        {% if PAGES_SORT_ATTRIBUTE -%}
          {% set pages = pages|sort(attribute=PAGES_SORT_ATTRIBUTE) %}
        {%- endif %}
        {% for name, link in LINKS %}
        <li>
          <a target="{{ get_target(link) }}" href="{{ link }}" >{{ name }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
  </div>
</aside>

